<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p id="about_para">
                    I am a new software developer passionate about building innovative and user-friendly software. I
                    am a fast learner and have strong problem-solving skills. I have a strong track record of
                    success in leading and delivering complex projects on time. I am also an effective communicator
                    and team player.
                    I have developed many personal projects, including some web applications and machine learning
                    projects.
                    I have worked as a team member on several projects in IIT Madras clubs. I have experience
                    working with a variety of programming languages and frameworks.

                    I am proficient in various programming languages and technologies, including Python, C++ and
                    JavaScript. I worked in both frontends as well as backends. I am a highly motivated and
                    results-oriented individual with a strong work ethic.

                    I am currently looking for a new challenge where I can use my skills and experience to make a
                    meaningful impact. I am excited to join a team that is passionate about building great products.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End #about -->