<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>Indian Institute of Technology, Madras (B.Tech)</h3>
        <span class="education-date">2021 - 2025</span>
        <h4>Bachelor of Naval Architechture and Ocean Engineering</h4>
        <p>
            <!-- paragraphs -->
        </p>
    </div>
    <!-- End .education-block -->

    <div class="education-block">
        <h3>Allen Career Institute, Jaipur</h3>
        <span class="education-date">2020 - 2021</span>
        <h4>IIT-JEE Advanced</h4>
        <ul>
            <!-- ul -->
        </ul>
    </div>
    <!-- End .education-block -->
</div>
<!-- End #education -->