<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="July 2022 – Present">
            <h3>Institute WebOps and MobOps, IIT Madras</h3>
            <h4>Coordinator
            </h4>
            <p style="text-align: left;">
                Responsible for coordinating the work with seven coordinators in completing projects &
                assignments. Completing the group tasks with seven project members while learning
                new technologies. Moreover, managing insti websites and organising backend web services for their
                backend activities.
            </p>
        </div>

        <div data-date="June 2022 – Present">
            <h3>International and Alumni Relations Student Council, IIT Madras</h3>
            <h4>Manager</h4>
            <p style="text-align: left;">
                Coordinating the work with seven people of Web-Operations in completing assignments with latest
                technologies. Worked on real-world projects & tasks after successful completion of assignments.
                Working on different IAR projects of other vertices for their requirements accordingly.
            </p>
        </div>

    </div>
</div>
<!-- End #experience -->