<div class="row">
    <button type="button" id="wdp_button" class="btn btn-outline-secondary btn-block"
        data-bs-toggle="collapse" data-bs-target="#ml_projects">Data Science & Machine Learning Projects <i class="fa fa-angle-double-down"></i></button>
    <div id="ml_projects" class="collapse">

        <div class="container">
            <div class="row">

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="images/project.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>ML Projects</h3>
                        <p>
                            Will be updated soon!  or You can checkout on GitHub! <a target="_blank" href="https://github.com/403errors/DS-ML-PorfolioProjects">Here</a> is the Projects Repository!<br> <br>
                            <span style="font-weight: bolder;">Technologies</span><br>
                            a | b | c | c| d
                        </p>
                        <a target="_blank" href="https://github.com/403errors/DS-ML-PorfolioProjects">View Repository</a>
                    </div>
                </div>
                <!-- End .project-info -->


            </div>
        </div>


    </div>
</div>



</div>
</div>