<div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
        <li>C</li>
        <li>C++</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <br>
        <br>
        <li>DOM Manipulation</li>
        <li>Object Oriented Programming</li>
        <li>Functional Programming</li>
        <li>Dynamic Programming</li>
        <br>
        <br>
        <li>Numpy</li>
        <li>Pandas</li>
        <li>Matplotlib</li>
        <li>Seaborn</li>
        <li>Plotly</li>
        <li>Cufflinks</li>
        <li>Scikit-learn</li>
        <br>
        <br>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>React</li>
        <li>React and Redux</li>
        <li>EJS</li>
        <li>Node & Express</li>
        <li>MongoDB and Mongoose</li>
        <br>
        <br>
        <li>Analytical skills</li>
        <li>Systems and Networking</li>
        <li>Machine Learning</li>
        <li>Git & GitHub</li>
        <li>Googling</li>
    </ul>
</div>
<!-- End #skills -->