<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container mt-3">
        <div class="row">
            <button type="button" id="wdp_button" class="btn btn-outline-secondary btn-block"
                data-bs-toggle="collapse" data-bs-target="#wdp">Web
                Development Projects <i class="fa fa-angle-double-down"></i></button>
            <div id="wdp" class="collapse">

                <div class="container">
                    <div class="row">

                        <div class="project shadow-large">
                            <div class="project-image">
                                <img src="images/project_previews/viryaparamita.png" />
                            </div>
                            <!-- End .project-image -->
                            <div class="project-info">
                                <h3>Vijay Paramita Website (Fullstack Project)</h3>
                                <p>
                                    A fully functional website from frontend to backend. A web project collaborated
                                    with
                                    PVE,
                                    published under marketing of Sindhuja-I. <br> <br>
                                    <span style="font-weight: bolder;">Technologies</span><br>
                                    HTML5 | Bootstrap5 | JavaScript | EJS View Engine| Node JS
                                </p>
                                <a target="_blank" href="https://viryaparamita.onrender.com">View Project</a>
                            </div>
                        </div>
                        <!-- End .project-info -->

                        <div class="project shadow-large">
                            <div class="project-image">
                                <img src="images/project_previews/toDoList_v1.png" />
                            </div>
                            <!-- End .project-image -->
                            <div class="project-info">
                                <h3>To-Do List (Backend Project)</h3>
                                <p>
                                    This is a To Do List, a backend focused project with beautiful frontend. You
                                    can add todo's
                                    by clicking on '+' icon and mark them as completed as well. <br> <br>
                                    <span style="font-weight: bolder;">Technologies</span><br>
                                    HTML5 | Bootstrap5 | JavaScript | EJS View Engine| Node JS
                                </p>
                                <a target="_blank" href="https://todolist-v1-1d16.onrender.com">View Project</a>
                            </div>
                            <!-- End .project-info -->
                        </div>
                        <!-- End .project -->

                        <div class="project shadow-large">
                            <div class="project-image">
                                <img src="images/project_previews/newsletter_signup.png" />
                            </div>
                            <!-- End .project-image -->
                            <div class="project-info">
                                <h3>Newsletter Signup (Backend Project)</h3>
                                <p>
                                    A simple Newsletter-Signup page, backed by Mailchimp API. After signing up
                                    successfully, you
                                    will get redirected to success page. In case of any error, you will get
                                    redirected to
                                    failure page . <br> <br>
                                    <span style="font-weight: bolder;">Technologies</span><br>
                                    HTML5 | Bootstrap5 | JavaScript | API | Node JS | Mailchimp
                                </p>
                                <a target="_blank" href="https://newsletter-signup-wcqk.onrender.com">View
                                    Project</a>
                            </div>
                            <!-- End .project-info -->
                        </div>
                        <!-- End .project -->


                        <div class="project shadow-large">
                            <div class="project-image">
                                <img src="images/project_previews/drum_kit_project.png" />
                            </div>
                            <!-- End .project-image -->
                            <div class="project-info">
                                <h3>Drum Kit (Frontend Project)</h3>
                                <p>
                                    A drum kit that allows the user to play a variety of sounds and rhythms. You
                                    can either use
                                    keyboard or clicks to interact with them. <br> <br>
                                    <span style="font-weight: bolder;">Technologies</span><br>
                                    HTML5 | CSS3 | JavaScript & DOM Manipulation

                                </p>
                                <a target="_blank"
                                    href="https://403errors.github.io/Projects/Drum%20Kit/index.html">View
                                    Project</a>
                            </div>
                            <!-- End .project-info -->
                        </div>
                        <!-- End .project -->

                        <div class="project shadow-large">
                            <div class="project-image">
                                <img src="images/project_previews/simon_game.png" />
                            </div>
                            <!-- End .project-image -->
                            <div class="project-info">
                                <h3>Simon Game (Frontend Project)</h3>
                                <p>
                                    This is a quite populer memory based game played with friends. You should
                                    click on the
                                    blinked colours in order to level up. <br> <br>
                                    <span style="font-weight: bolder;">Technologies</span><br>
                                    HTML5 | CSS3 | JavaScript(jQuery) & DOM Manipulation
                                </p>
                                <a target="_blank"
                                    href="https://403errors.github.io/Projects/Simon%20Game/index.html">View
                                    Project</a>
                            </div>
                            <!-- End .project-info -->
                        </div>
                        <!-- End .project -->

                    </div>
                </div>


            </div>
        </div>



        